<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form id="addClassificationForm" action="/inv/add-classification" method="post">
  <fieldset>
    <legend>Add Classification</legend>
    
    <p><em>Classification name must be alphabetic characters only. No spaces, numbers or special characters.</em></p>
    
    <label for="classification_name">Classification Name:</label>
    <input type="text" id="classification_name" name="classification_name" required 
           pattern="[A-Za-z]+" title="Only alphabetic characters allowed"
           value="<%= locals.classification_name %>">
    
    <input type="submit" value="Add Classification">
  </fieldset>
</form>